quarkus:
  http:
    port: 8080
    host: 0.0.0.0
    cors: true
    cors:
      origins: "*"

  websocket:
    max-frame-size: 1048576

  log:
    level: INFO
    category:
      "ru.rkhamatyarov":
        level: DEBUG
